---
// File: src/layouts/Layout.astro

import '../styles/main.scss';
import Meta from '../components/Meta.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

import '@fontsource/fira-code/400.css';
import '@fontsource/fira-code/700.css';

export interface Props {
  title: string;
  description: string;
  noIndex?: boolean;
  ogImage?: URL;
  ogType?: 'website' | 'article';
}

const { title, description, noIndex, ogImage, ogType } = Astro.props;
---

<!doctype html>
<html lang="pl">
  <head>
    <Meta {title} {description} {noIndex} {ogImage} {ogType} />
    <slot name="head" />
  </head>
  <body>
    <Header transition:persist="main-header" />
    <slot />
    <Footer transition:persist="main-footer" />
    <script>
      let isBootstrapLoaded = false;

      function initializeBootstrap() {
        if (!isBootstrapLoaded) {
          import('bootstrap/dist/js/bootstrap.bundle.min.js');
          isBootstrapLoaded = true;
        }
      }

      document.addEventListener('astro:page-load', initializeBootstrap);
      initializeBootstrap();
    </script>

    <script>
      document.addEventListener('astro:before-preparation', () => {
        history.scrollRestoration = 'manual';
      });
      document.addEventListener('astro:page-load', () => {
        history.scrollRestoration = 'auto';
      });
    </script>
  </body>
</html>
